*,
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-black { background-color: #131825; }
.bg-purple { background-color: #6c63ff; }
.bg-lblack { background-color: #232a3e; }
.bg-red { background-color: #e0002d; }
.bg-blue { background-color: #002488; }
.bg-green { background-color: #22c55e; }
.bg-orange { background-color: #f59e0b; }
.bg-lblue { background-color: #06b6d4; }
.bg-pink { background-color: #ec4899; }
.bg-gray { background-color: rgba(185, 185, 185, 0.548); }
.bg-selection{border:2px solid rgb(0, 255, 21)}

.text-font{font-family: "Lilita One";font-size: 101%;}

.border{border:2px solid black}

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }

.jc-space-between { justify-content: space-between; }
.jc-center { justify-content: center; }
.jc-self-center { justify-self: center; }
.jc-self-flex-start { justify-self: flex-start; }

.align-items-center { align-items: center; }
.align-self-center { align-self: center; }

.wrap { flex-wrap: wrap; }
.gap10{gap:10px}

.main{width: 500px;height: 500px;}

.div-colores{width:30%;height:100%;}
.caja-color{width:30px;height: 30px;margin:1px}

.div-formulario{width:70%;height:100%;}
.editable-button{width:80px;height: 50px;}
.submit-button{width:80px;height: 50px;}
